.hero.has-background {
  background-image: url(/images/header_background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color:rgba(0, 0, 0, 0.0);
}
